* {
    font-family: sans-serif;
}

body {
    background: white url("images/background.png") no-repeat;
    color: white;
    text-align: center;
}

ul {
    border: 2px solid white;
    border-radius: 8px;
}

li {
    list-style: upper-roman;
    font-weight: bold;

}

li a {
    text-decoration: none;
}

li a:hover {
    color: rgba(255, 255, 255, 0.494)
}