* {
    font-family: sans-serif;
}

body {
    background: white url("images/background.png") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    border: 2px solid white;
    border-radius: 8px;
    padding: 40px;
}

li {
    list-style: upper-roman;
    color: white;
    font-weight: bold;
}

li a {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

li a:hover {
    color: rgba(255, 255, 255, 0.494)
}